.App {
  color: white;
  background-color: #313847;
  height: 100vh;
  display: grid;
  grid-template-rows: 5vh 95vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "leftGridColumnHeader CenterGridColumnHeader RightGridColumnHeader"
    "leftGridColumn CenterGridColumn RightGridColumn";
}

.App-logo {
  height: 40vmin;
}

.App-header {
  text-align: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);


}

.App-link {
  color: #09d3ac;
}

#appTitle{
  grid-area: CenterGridColumnHeader;

}

